@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Lao+Looped:wght@100..900&display=swap');

/* CSS Variables */
:root {
    --primary-color: #4CAF50;
    --primary-color-hover: #45a049;
    --text-color: #333;
    --border-color: #ddd;
    --background-color: #f0f0f0;
}

/* Modal Styles */
.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    width: 80%;
    max-width: 400px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#loadingIndicator {
    text-align: center;
    margin-top: 10px;
    font-style: italic;
    color: rgb(0, 212, 46);
}

body {
    font-family: "Noto Sans Lao", sans-serif;
    background-color: #0051e6;
}

select,
input,
textarea,
.submit-button {
    font-family: "Noto Sans Lao", sans-serif;
}

.file-upload {
    background-color: var(--background-color);
    padding: 10px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    width: 100%;
}

.language-group .form-group:first-child {
    margin-right: 5px;
}

.language-group .form-group:last-child {
    margin-left: 5px;
}

.containerbody {
    width: 90%;
    max-width: 900px;
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 30px auto;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: var(--text-color);
}

.form-group {
    margin: 0 15px 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
}

.required {
    color: red;
}

select {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
}

textarea {
    resize: vertical;
}

.submit-button {
    background-color: var(--primary-color);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: calc(100% - 30px);
    margin: 0 15px 20px;
}

.submit-button:hover {
    background-color: var(--primary-color-hover);
}

.language-group,
.name-phone-group {
    display: flex;
}

.language-group .form-group,
.name-phone-group .form-group {
    width: 50%;
}

@media (max-width: 768px) {
    .containerbody {
        width: 90%;
        padding: 30px;
    }

    .form-group {
        margin: 0 15px 20px;
    }

    .submit-button {
        width: calc(100% - 30px);
        margin: 0 15px 20px;
    }

    .language-group .form-group,
    .name-phone-group .form-group {
        width: 100%;
    }

    .language-group .form-group:first-child {
        margin-right: 0;
    }

    .language-group .form-group:last-child {
        margin-left: 0;
    }
}
