body {
    margin: 0;
    padding-top: 80px;
}

.ta-logo {
    font-family: sans-serif;
    font-size: 3em;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.ta-tech {
    color: #ffffff;
}

.ta-art {
    color: #ff9800;
}

.ta-header {
    background-color: #283593;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
    margin: 0;
}

.ta-containerheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
}

.ta-logo img {
    height: 80px;
}

.ta-right-section {
    display: flex;
    align-items: center;
}

.ta-nav ul {
    list-style: none;
    display: flex;
    margin-right: 20px;
}

.ta-nav ul li {
    margin-right: 20px;
}

.ta-nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
}

.ta-nav ul li a:hover {
    color: #007bff;
}

.ta-button .ta-request-quote {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}

.ta-button .ta-request-quote:hover {
    background-color: #0056b3;
}

.ta-menu-toggle {
    display: none;
    font-size: 24px;
    cursor: pointer;
    margin-right: 20px;
}

.ta-language-button {
    border: none;
    background: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-family: "Noto Sans Lao Looped", sans-serif;
    color: #ffffff;
    font-weight: 500;
    padding: 0;
}

.ta-flag-icon {
    width: 25px;
    height: 18px;
    margin-right: 5px;
    vertical-align: middle;
}

.ta-language-text {
    font-size: 16px;
    line-height: 1;
    vertical-align: middle;
    margin-right: 20px;
}

/* Responsive Design */
@media (max-width: 768px) {
    .ta-container {
        flex-direction: column;
        align-items: center;
    }

    .ta-language-switcher {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .ta-language-button {
        margin-bottom: 20px;
    }

    .ta-language-text {
        font-size: 14px;
    }

    .ta-right-section {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-top: 10px;
        width: 100%;
    }

    .ta-menu-toggle {
        display: block;
        color: #ffffff;
        margin-right: -10px;
    }

    .ta-button {
        margin: 0;
        text-align: left;
        width: auto;
    }

    .ta-button .ta-request-quote {
        font-size: 14px;
        padding: 8px 16px;
    }

    .ta-nav {
        display: none;
        flex-direction: column;
        width: 100%;
        position: static;
        padding: 20px;
        z-index: 10;
        align-items: flex-end;
    }

    .ta-nav ul {
        flex-direction: column;
        margin-right: 0;
    }

    .ta-nav ul li {
        margin-right: 0;
        margin-bottom: 10px;
        text-align: left;
    }

    .ta-nav ul li a {
        font-size: 14px;
        white-space: nowrap;
    }

    .ta-nav.active {
        display: flex;
    }

    .ta-menu-toggle.active .fa-bars:before {
        content: "\f00d";
        color: #ffffff;
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 30px;
        z-index: 1000;
    }
}