.wrapper {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    z-index: 1000;
}

.wrapper .button {
    display: block;
    height: 60px;
    width: 60px;
    text-decoration: none;
    overflow: hidden;
    background: #25D366;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 10px 10px #a5a5a55a;
    transition: all 0.3s ease-out;
}

.wrapper .button .icon {
    display: inline-block;
    height: 60px;
    width: 60px;
    color: #ffffff;
    text-align: center;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 60px;
    transition: all 0.3s ease-out;
}

.wrapper .button:nth-child(1):hover .icon {
    background: #116914;
}

.wrapper .button .icon i {
    font-size: 25px;
    line-height: 60px;
    transition: all 0.3s ease-out;
}

.wrapper .button:hover .icon i {
    color: #fff;
}

.wrapper .button span {
    font-size: 20px;
    font-weight: 500;
    line-height: 60px;
    margin-left: 10px;
    transition: all 0.3s ease-out;
}

.wrapper .button:nth-child(1) span {
    color: #024e02;
}

.wrapper .button:nth-child(2) span {
    color: #25D366;
}