@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Lao+Looped:wght@100..900&display=swap');

body {
    font-family: "Noto Sans Lao Looped", sans-serif;
   
}
h2{
text-align: center;
color: rgb(0, 0, 150);
margin-bottom: 0;
margin-top: 90px;

}

.container {
    display: flex;
    justify-content: center;
    padding: 10px;
}


.left-column, .right-column {
width: 400px;
display: flex;
flex-direction: column;
align-items: stretch;
margin: 5px; /* ປ່ຽນເປັນ margin: 0; */
}

.box {
    border: none;
    padding: 10px;
    box-sizing: border-box;
}

.box:not(:last-child) {
    margin-bottom: 0;
}

.box img {
    max-width: 100%;
    height: auto;
    display: block;
    object-fit: contain;
}

.box:nth-child(2), .box:nth-child(3) {
    flex-grow: 1;
}
 /* ປັບຂະໜາດແຜນທີ່ໃຫ້ເຕັມກ່ອງ */
.left-column iframe {
width: 100%;
height: 100%; /* ປ່ຽນເປັນ 100% */
border: none;
margin: 0;
padding: 0;
min-height: 550px; /* ກຳນົດຄວາມສູງຂັ້ນຕ່ຳ */
object-fit: cover; /* ໃຫ້ແຜນທີ່ຕື່ມເຕັມພື້ນທີ່ */
}
.left-column .box {
overflow: hidden; /* ເພີ່ມ overflow: hidden; */
}
/* Media Queries ສໍາລັບ Responsive Design */
@media (max-width: 800px) {
.container {
    flex-direction: column; /* ປ່ຽນ flex-direction */
}

.left-column, .right-column {
    width: 100%; /* ປ່ຽນເປັນເຕັມຄວາມກວ້າງ */
}
}